<div class="mpTextWrap">
  <table id="gegevens">
    <tr>
      <td class="geg_label"> Achternaam: </td>
      <td> Peet </td>
    </tr>
    <tr>
      <td class="geg_label"> Voornaam: </td>
      <td> Martine </td>
    </tr>
    <tr>
      <td class="geg_label"> Tussenvoegsels: </td>
      <td> van der </td>
    </tr>
    <tr>
      <td class="geg_label"> Adres: </td>
      <td> Joan Muyskenweg 54 </td>
    </tr>
    <tr>
      <td class="geg_label"> Postcode: </td>
      <td> 1824 ja </td>
    </tr>
    <tr>
      <td class="geg_label"> Plaats: </td>
      <td> Heiloo </td>
    </tr>
    <tr>
      <td class="geg_label"> Land: </td>
      <td> Nederland </td>
    </tr>
    <tr>
      <td class="geg_label"> Geboorteplaats: </td>
      <td> Amsterdam </td>
    </tr>
    <tr>
      <td class="geg_label"> Geboorteland: </td>
      <td> Nederland </td>
    </tr>
    <tr>
      <td class="geg_label"> Geboortejaar: </td>
      <td> 1945 </td>
    </tr>
    <tr>
      <td class="geg_label"> Emailadres: </td>
      <td> snow4@xs4all.nl </td>
    </tr>
    <tr>
      <td class="geg_label"> Geslacht: </td>
      <td> vrouw </td>
    </tr>
    <tr>
      <td class="geg_label"> Gezinssituatie: </td>
      <td> Alleenstaand, weduwe(naar) </td>
    </tr>
    <tr>
      <td class="geg_label"> Kinderen: </td>
      <td> Ja, allen uitwonend </td>
    </tr>
    <tr>
      <td class="geg_label"> Opleiding: </td>
      <td> Geen opleiding voltooid </td>
    </tr>
    <tr>
      <td class="geg_label"> Inkomen: </td>
      <td> meer dan &euro; 4.000,- </td>
    </tr>
    <tr>
      <td class="geg_label"> Dialect: </td>
      <td> Glauw-fries </td>
    </tr>
    <tr>
      <td class="geg_label"> Vreemde talen: </td>
      <td> Engels, Duits, Frans, Sranan </td>
    </tr>
    <tr>
      <td class="geg_label"> Spaarpunten: </td>
      <td> 0 </td>
    </tr>
    <tr>
      <td class="geg_label"> Wachtwoord: </td>
      <td> (niet getoond) </td>
    </tr>
  </table>
</div>
