<div class="mpTextWrap">
  <!-- Form -->
  <div class="formSection hcForm">
    <h2>Inloggen</h2>
    <div class="hcFormElement"><label>
        <div class="hcLabelName">Emailadres</div>
        <div class="hcLabelInfo"></div><input type="text" id="Voornaam" name="Voornaam" class="val notEmpty ">
      </label>
      <div class="hcformMessage" id="msg_Voornaam"></div>
    </div>


    <div class="hcFormElement"><label>
        <div class="hcLabelName">Wachtwoord</div>
        <div class="hcLabelInfo"></div><input type="password" id="Voornaam" name="Voornaam" class="val notEmpty ">
      </label>
      <div class="hcformMessage" id="msg_Voornaam"></div>
    </div>




  <div class="hcFormElement"><label>
      <div class="hcLabelName"></div>
      <div class="hcLabelInfo"></div>
      <button type="button" name="button">Login</button>
    </label>
    <div class="hcformMessage" id="msg_Email"></div>
  </div>
</div>
