@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,700,700i');
//@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700');

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 140%;
	font-style: normal;
	color: $colorTxt;
}



h1 {
	font-size: 1.5em;
	line-height: 130%;
	font-weight: 700;
}

h2 {
	font-size: 1.3em;
	line-height: 130%;
	font-weight: 700;
}

h3 {
	font-size: 1em;
	line-height: 130%;
	font-weight: 700;
}

h4 {
	font-size: .85em;
	line-height: 130%;
	font-weight: 300;
	font-style: italic;
}

@media (min-width: 600px) {
	body {
		font-size: 18px;
		line-height: 150%;
	}

	h1 {
		font-size: 1.5em;
	}

	h1, h2, h3, h4 {
		line-height: 150%;
	}
}

h1, h2, h3, h4 {
  margin-top: 0;
  margin-bottom: .3em;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

strong {
	font-weight: 700;
}

.hcSmallTxt {
	font-size: .85rem
}

.hcMonospace {
	font-family: monospace;
}
